<style type="text/css">  .hero-unit {background: url('/images/boat_on_ocean.jpeg') no-repeat; height: 300px}</style>

<div class="hero-unit">
  <h1><font color="FFFFFF">My Bucket Lists</font></h1>
  <p><font color="FFFFFF">“Life is either a daring adventure or nothing at all.”― Helen Keller</font></p>
  <p><%= link_to "Get Started", new_list_url, :class => "brn btn-success btn-large" %></p>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class:name %>
  <br>
<% end %>


<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Reason</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= link_to list.name, list_path(list) %></td>
        <td><%= list.reason %></td>
        <td><%= link_to "Edit", edit_list_path(list) %> | <%= link_to "Destroy", list, method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
